.keyboard {
  border: 1px solid black;
  width: 1200px;
  margin: 50px auto 0;
  padding: 20px;
}

.keyboard__box {
  border: 1px solid black;
  width: 80%;
  margin: auto;
  text-align: center;
}

.keyboard__header {
  border: 1px solid black;
  font-size: 40px;
}

.keyboard__buttons {
  padding: 10px;
}

.keyboard__button {
  border: 1px solid blue;
  width: 50px;
  height: 50px;
  margin: 0 5px 0 5px;
  font-size: 16px;
}

.keyboard__button:hover {
  background-color: floralwhite;
}

.keyboard__button_big {
  border: 1px solid rgb(0, 0, 232);
  border-radius: 10px;
  width: 125px;
  height: 50px;
  margin-right: 10px;
  font-weight: bold;
}

.keyboard__textarea {
  width: 700px;
  height: 200px;
  font-size: 20px;
}

.capsLockOn {
  background-color: floralwhite;
}
